html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 50px;
}

body::after{
    content: "";
    background: url("http://szd.bneuhausz.com/public/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.pagination{
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.pagination a{
    margin: 5px;
    color: grey;
}

#searchBox{
    padding-bottom: 5px;
}

#searchBox form input{
    margin: 5px;
}

#searchBox form button{
    margin: 0;
}

.info-box{
    text-align: left;
    width: auto;
    max-width: 250px;
    margin: auto;
    padding: 16px;
    border-radius: 3px;
}

.info-box.fail{
    border: 1px solid #e5003c;
    background-color: #ffc4be;
    color: #e5003c;
}

.info-box.success{
    border: 1px solid green;
    background-color: #e2ffd9;
    color: green;
}

.new-post {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.new-post header{
    margin-bottom: 20px;
}

.imageholder{
    width: 240px;
    height: 320px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
