#userList{
    border: 1px solid black;
    border-radius: 5px;
}

#userList ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#userList li{
    border-bottom: 1px solid grey;
    margin: 5px;
}
